%ui-icon-after {
  content: attr(uiIcon) / '';
  speak: never;

  transform: scale3d(1, 1, 1);

  direction: ltr;
  display: inline;

  font-family: 'MSO', serif;
  font-size: var(--font-size-default);
  font-feature-settings: 'liga';
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  text-transform: none;
  text-rendering: optimizeLegibility;
  overflow-wrap: normal;
  white-space: nowrap;

  transition: all 50ms ease-in-out;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[uiIcon] {
  &:not(.before):after,
  &.before:before {

    @extend %ui-icon-after;
  }

  &.fill {
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }

  &.before,
  &.after {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }

  &.flex {
    &:after,
    &:before {
      display: flex;
    }
  }

  &[rounded] {
    &:not(.before):after,
    &.before:before {
      font-family: 'MSR', serif;
    }
  }

  &[size='xs'] {
    &:not(.before):after,
    &.before:before {
      font-size: var(--font-size-xs);
    }
  }

  &[size='sm'] {
    &:not(.before):after,
    &.before:before {
      font-size: var(--font-size-sm);
    }
  }

  &[size='md'] {
    &:not(.before):after,
    &.before:before {
      font-size: var(--font-size-md);
    }
  }

  &[size='lg'] {
    &:not(.before):after,
    &.before:before {
      font-size: var(--font-size-lg);
    }
  }

  &[size='xl'] {
    &:not(.before):after,
    &.before:before {
      font-size: var(--font-size-xl);
    }
  }
}

[uiicon='more_time'] {
  &:not(.before):after,
  &.before:before {
    transform: translateX(1px);
  }
}
