* {
  margin: 0;
  padding: 0;
  border: 0 none;

  font-size: inherit;
  color: inherit;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.relative {
  position: relative;
}

router-outlet {
  display: none;
}

@media (prefers-color-scheme: dark) {
  * {
    color: inherit;
  }
}

.katex-display > .katex {
  white-space: normal;
}
