networks:
  o2k:
    name: o2k
    driver: bridge
    external: true

volumes:
  likes:
  browser:

services:
  webservice-ssr:
    hostname: 'www.omega2k.de'
    container_name: 'de-omega2k-www-${COMPOSE_IMAGE_TAG:-latest}-${APP_VERSION:-0.0.0}'
    build:
      context: ../../..
      dockerfile: ./docker/Dockerfile.ssr
    image: '${REGISTRY:-registry.omega2k.de}/www/ssr:${COMPOSE_IMAGE_TAG:-latest}'
    volumes:
      - browser:/app/browser
    ports:
      - '42000:80'
    depends_on:
      webservice-api:
        condition: service_started
    deploy:
      resources:
        limits:
          cpus: '3.00'
          memory: 512M
        reservations:
          cpus: '2.00'
          memory: 256M
      restart_policy:
        condition: on-failure
        max_attempts: 30
    networks: [o2k]

  webservice-api:
    hostname: 'api.omega2k.de'
    container_name: 'de-omega2k-api-${COMPOSE_IMAGE_TAG:-latest}-${APP_VERSION:-0.0.0}'
    build:
      context: ../../..
      dockerfile: ./docker/Dockerfile.api
    image: '${REGISTRY:-registry.omega2k.de}/www/api:${COMPOSE_IMAGE_TAG:-latest}'
    volumes:
      - likes:/app/likes
    ports:
      - '42001:80'
    environment:
      LIKES_DB_PATH: /app/likes/likes.db
    deploy:
      resources:
        limits:
          cpus: '2.00'
          memory: 512M
        reservations:
          cpus: '1.00'
          memory: 256M
      restart_policy:
        condition: on-failure
        max_attempts: 30
    networks: [o2k]
