networks:
  o2k:
    name: o2k
    driver: bridge
    external: true

volumes:
  likes:
  browser:

services:
  webservice-ssr:
    hostname: '${COMPOSE_DOMAIN_SSR:-www.omega2k.de.o2k}'
    container_name: 'webservice-www-${COMPOSE_IMAGE_TAG:-latest}-${APP_VERSION:-0.0.0}'
    build:
      context: ../../..
      dockerfile: ./docker/Dockerfile.ssr
    image: '${REGISTRY:-registry.omega2k.de}/www/ssr:${COMPOSE_IMAGE_TAG:-latest}'
    volumes:
      - browser:/app/browser
    ports:
      - '${COMPOSE_PORT_SSR:-31000}:80'
    depends_on:
      webservice-api:
        condition: service_started
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 256M
        reservations:
          cpus: '0.50'
          memory: 128M
      restart_policy:
        condition: on-failure
        max_attempts: 30
    networks: [o2k]

  webservice-api:
    hostname: '${COMPOSE_DOMAIN_API:-api.omega2k.de.o2k}'
    container_name: 'webservice-api-${COMPOSE_IMAGE_TAG:-latest}-${APP_VERSION:-0.0.0}'
    build:
      context: ../../..
      dockerfile: ./docker/Dockerfile.api
    image: '${REGISTRY:-registry.omega2k.de}/www/api:${COMPOSE_IMAGE_TAG:-latest}'
    volumes:
      - likes:/app/likes
    ports:
      - '${COMPOSE_PORT_API:-31003}:80'
    environment:
      LIKES_DB_PATH: /app/likes/likes.db
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 256M
        reservations:
          cpus: '0.50'
          memory: 128M
      restart_policy:
        condition: on-failure
        max_attempts: 30
    networks: [o2k]
